<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ActionRuntimeSection" type="LucidOcean.RuleEngine.Configuration.ActionRuntimeSection, LucidOcean.RuleEngine" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<ActionRuntimeSection>
		<Actions>
			<ActionElement name="CalculationAction" typeName="Example.CalculationAction, Example"></ActionElement>
		</Actions>
		<RuntimeServices>
			<RuntimeServiceElement actionTypeName="Example.CalculationAction, Example" typeName="Example.CustomRuntimeService, Example" />
		</RuntimeServices>
		<RuntimeProviders>
			<RuntimeProviderElement providerTypeName="AbortingAction" typeName="Example.AbortingAction, Example"></RuntimeProviderElement>
		</RuntimeProviders>
	</ActionRuntimeSection>
</configuration>